@using MDMProject.ViewModels;
@model UserListViewModel

<h3>Czy dodajesz tego użytkownika jako Koordynatora?</h3>
<div>
    @using (Html.BeginForm("SaveAddAsCoordinator", "UserManagement"))
    {
        <label for="CoordinatedRegion"><strong>Koordynowany region</strong></label>
        <br />
        <input id="CoordinatedRegion" name="CoordinatedRegion" type="text" value="" placeholder="Koordynowany region..." class="form-control" />
        <br /><br />

        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.Id)
    }

    @Html.Partial("_DetailsPartial", Model)
</div>