@using MDMProject.ViewModels;
@model UserListViewModel

<h3>Czy dodajesz tego użytkownika jako Administratora?</h3>
<div>
    @Html.Partial("_DetailsPartial", Model)

    @using (Html.BeginForm("SaveAddAsAdmin", "UserManagement"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.Id)
    }
</div>