@using MDMProject.Resources
@using MDMProject.ViewModels;
@model UserDetailsViewModel

<h3>@ViewResources.UserManagement_Approve__Title</h3>
<div>
    @Html.Partial("_DetailsPartial", Model)

    @using (Html.BeginForm("SaveApprove", "UserManagement"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.Id)
    }
</div>