@using MDMProject.Resources
@using MDMProject.ViewModels;
@model UserListViewModel

<h3>@ViewResources.UserManagement_RemoveAsCoordinator__Title</h3>
<div>
    @Html.Partial("_DetailsPartial", Model)

    @using (Html.BeginForm("SaveRemoveAsCoordinator", "UserManagement"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.Id)
    }
</div>