@using MDMProject.ViewModels;
@model UserListViewModel

<h3>Czy na pewno chcesz usunąć tego użytkownika z Koordynatorów?</h3>
<div>
    @Html.Partial("_DetailsPartial", Model)

    @using (Html.BeginForm("SaveRemoveAsCoordinator", "UserManagement"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.Id)
    }
</div>