@using MDMProject.Resources
@{
    ViewBag.Title = ViewResources.Account_ConfirmEmail__Title;
}

<main class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-container">
                    <h2>@ViewBag.Title</h2>
                    <div>
                        <p>
                            @ViewResources.Account_ConfirmEmail__Please @Html.ActionLink(ViewResources.Account_ConfirmEmail__Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>