@{
    ViewBag.Title = "Potwierdzenie zmiany hasła";
}

    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-xs-12 form-container">
                    <h1 class="title">
                        @ViewBag.Title.
                    </h1>
                    <p>
                        Na podany adres e-mail wysłane zostało hasło.
                    </p>
                </div>
            </div>
        </div>
    </div>

