@using MDMProject.Resources
@{
    ViewBag.Title = ViewResources.Account_ForgotPasswordConfirmation__Title;
}

<main class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-container">
                    <h1 class="form-header mb-3">@ViewBag.Title</h1>
                    <p>
                        @ViewResources.Account_ForgotPasswordConfirmation__MessageSent
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>