@{
    ViewBag.Title = "Potwierdzenie zmiany hasła";
}

    <div class="login otherView">
        <div class="container">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Na podany adres e-mail wysłane zostało hasło.
                </p>
            </div>
        </div>
    </div>

