@{
    ViewBag.Title = "Reset hasła potwierdzony";
}

<main class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-xs-12 form-container">
                <hgroup class="title other">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>
                <div class="other">
                    <p>
                        Hasło zresetowane,  @Html.ActionLink("kliknij i zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
