@using MDMProject.Resources
@{
    ViewBag.Title = ViewResources.Account_ResetPasswordConfirmation__Title;
}

<main class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-container">
                    <h1 class="form-header mb-3">@ViewBag.Title</h1>
                    <p>
                        @ViewResources.Account_ResetPasswordConfirmation__PasswordHasBeenReset  @Html.ActionLink(ViewResources.Account_ResetPasswordConfirmation__ClickAndLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>