.navbar {
    background-image: none;
    background-color: #fff;
    border-radius: 0px;
    border-bottom: 5px solid rgba(0, 103, 184, 0.5);
    margin-bottom: 0px;
}

.navbar-header {
    color: #000;
}

.navbar-brand {
    text-transform: uppercase;
    color: #000;
}

.navbar-nav li a {
    color: #000;
}

html, body {
    font-family: "Montserrat", sans-serif;
}

.form-container {
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 5px solid rgba(0, 103, 184, 0.5);
    border-bottom: 5px solid rgba(0, 103, 184, 0.5);
}

.form-header {
    font-weight: 300 !important;
    text-transform: uppercase;
    font-size: 2.3rem;
}

.form-control {
    width: 100%;
    border-radius: 0px !important;
    border: 1px solid #404040;
}

.form-submit {
    background-color: #0067b8;
    color: #fff;
    border-radius: 0px;
    font-size: 1.5rem;
    font-weight: 300;
    transition: background-color .3s ease;
    margin-left: auto;
    display: block;
}

    .form-submit:hover, .form-submit:focus, .form-submit:active {
        transition: background-color .3s ease;
        background-color: #0067b8;
        color: #fff;
    }

.input-group {
    width: 100%;
}

    .input-group label {
        font-weight: 500;
    }

.m-0 {
    margin: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 3rem;
}

.m-descrees {
    margin-left: -15px;
    margin-right: -15px;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.login {
    background-image: url("./images/login.jpg");
    background-position: right;
    background-size: cover;
    min-height: 100vh;
}

.register {
    background-image: url("./images/register.jpg");
    background-position: right;
    background-size: cover;
    min-height: 100vh;
}

.welcome {
    background-image: url("./images/welcome.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.welcome__header {
    background-color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: 13px;
    box-shadow: 3px 3px 3px;
}

.welcome__choose {
    margin-top: 45vh;
    background-color: #0067b8;
    color: #fff;
    padding: 30px;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
    transition: all .3s ease;
}

    .welcome__choose:hover, .welcome__choose:focus, .welcome__choose:active {
        transition: all .3s ease;
        text-decoration: none;
        color: #fff;
        filter: invert(1);
    }

@media (max-width: 500px) {
    .welcome__choose {
        padding: 15px;
        font-size: 1.4rem;
    }
}

.map .entry-container {
    background-color: #f2f2f2;
}

.map .form-group.search {
    display: flex;
    align-items: center;
}

.map .list {
    list-style: none;
    height: calc(100vh - 152px);
    overflow-y: scroll;
    margin-bottom: 0;
}

    .map .list::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    .map .list::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    .map .list::-webkit-scrollbar-thumb {
        background-color: rgba(0, 103, 184, 0.7);
    }

.map .list__item {
    margin-bottom: 15px;
}

    .map .list__item .entry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        border: 1px solid #e6e6e6;
        cursor: pointer;
        background-color: #fff;
    }

        .map .list__item .entry.mask {
            border-left: 5px solid #0067b8;
        }

        .map .list__item .entry.print {
            border-left: 5px solid #168211;
        }

    .map .list__item .entry__icon {
        width: 30px;
        height: 30px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .map .list__item .entry__media {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

@media (max-width: 600px) {
    .map .list__item .entry__media {
        font-size: 1.3rem;
    }
}

.map .list__item .entry__wrapper {
    display: flex;
}

.map .list__item .entry__text {
    font-weight: 400;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin: 0;
}

@media (max-width: 600px) {
    .map .list__item .entry__text {
        font-size: 1.3rem;
    }
}

.map .list__item .entry__address {
    text-align: left;
    margin: 0;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .map .list__item .entry__address {
        display: none;
    }
}

.map .list__item .entry__active {
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 30px;
}

.map .list__item .entry__unactive {
    width: 30px;
    height: 30px;
    background-color: #ef1712;
    border-radius: 30px;
}

.map .list__item .entry__available {
    display: flex;
    align-items: center;
}

.map .leaflet-marker-icon {
    border-radius: 100%;
    border: 3px solid #168211;
    background-color: #7be97e;
    padding: 4px;
}

#mapID {
    height: calc(100vh - 56px);
}

@media (max-width: 992px) {
    #mapID {
        display: none;
    }
}

/*# sourceMappingURL=style.css.map */
#search_validation{
    display:none;
    color:darkred;
}