@{
    ViewBag.Title = "Home Page";
}
    <div class="welcome">

        <div class="container">
            <div class="row d-none">
                <div class="col-md-12">
                    <h1 class="welcome__header mt-3">
                        Jestem:
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <a href="/register" class="welcome__choose" title="Jestem Medykiem">Jestem Medykiem</a>
                </div>
                <div class="col-xs-6">
                    <a href="/register" class="welcome__choose" title="Dostarczam asortyment">Jestem Dostawcą</a>
                </div>
            </div>

        </div>

    </div>