@{
    ViewBag.Title = "Regulamin";
}

<main class="rodo">
    <div class="container">
        <div class="col-md-10 col-md-push-1">
            <h1 class="text-center">
                Regulamin mapki maskadlamedyka.pl
            </h1>

            <p>
                Niniejszy dokument określa zasady korzystania z serwisu dostępnego pod adresem:
                https://maskadlamedyka.azurewebsites.net/ (dalej jako: <strong>„Serwis”</strong>)
                oraz zawiera informacje o przetwarzaniu danych osobowych za pośrednictwem Serwisu, zgodnie z Rozporządzeniem Parlamentu Europejskiego
                i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
                swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (dalej jako: <strong>„RODO”</strong>).
            </p>

            <p>
                Serwis powstał jako inicjatywa społeczna, w celu zapewnienia pracownikom służby zdrowia dostępu do bezpiecznych rozwiązań w zakresie osobistej ochrony
                w obliczu pandemii COVID-19 i wobec związanych z pandemią braków w profesjonalnym sprzęcie ochronnym, w tym w filtrach antywirusowych. Realizacja
                tego celu odbywa się poprzez ułatwienie za pośrednictwem Serwisu nawiązywania kontaktów pomiędzy następującymi podmiotami korzystającymi z Serwisu:
            </p>

            <ol>
                <li>osobami potrzebującymi masek ochronnych lub przejściówek umożliwiających połączenie maski z zewnętrznym filtrem antywirusowym (dalej jako: <strong>„Medyk”</strong>);</li>
                <li>
                    osobami posiadającymi maski ochronne różnego typu, gotowymi do przekazania ich dla realizacji ww. celu oraz osobami posiadającymi możliwości wydruku przy pomocy
                    drukarek 3D przejściówek wskazanych w lit. a (dalej jako: <string>„Dostawca”</string>).
                </li>
            </ol>

            <p>
                Administratorem Serwisu oraz przetwarzanych za jego pośrednictwem danych osobowych jest Dawid Kamola, ul. Orląt Lwowskich 146, 41-208 Sosnowiec (dalej jako: „Administrator”).
                Możesz skontaktować się z nim za pośrednictwem poczty elektronicznej pod adresem:
                <a href="mailto: dawid.kamola@maskadlamedyka.pl" title="Napisz mail do dawid.kamola@maskadlamedyka.pl">dawid.kamola@maskadlamedyka.pl</a>.
            </p>

            <ol id="location-share" class="main-list">
                <li>
                    Zasady korzystania z Serwisu
                    <ol>
                        <li>Korzystanie z Serwisu jest bezpłatne.</li>
                        <li>Korzystanie z Serwisu jako Medyk nie wymaga rejestracji.</li>
                        <li>
                            Korzystanie z Serwisu jako Dostawca wymaga zarejestrowania się poprzez podanie adresu e-mail i nadanie hasła.
                            Następnie, z poziomu profilu możliwe jest uzupełnienie danych umożliwiających nawiązanie kontaktu z innymi użytkownikami Serwisu,
                            takich jak: Imię i nazwisko, numer telefonu oraz adres, pod którym Dostawca jest dostępny w celu przekazania maski lub przejściówki oraz zaznaczenie, czy Dostawca posiada maskę czy adapter.
                        </li>
                        <li><strong>Uwaga! Zaznaczenie opcji „maska” lub „adapter” powoduje automatyczne opublikowanie w Serwisie danych podanych w profilu.</strong></li>
                        <li>
                            <strong>
                                Dane o adresie Dostawcy wykorzystywane są w celu zaznaczenia tej lokalizacji na mapie. Mapa dostępna w Serwisie umożliwia każdemu
                                wgląd w listę Dostawców oraz w udostępnione przez nich dane adresowe i kontaktowe.
                            </strong>
                        </li>
                        <li>Serwis umożliwia skorzystanie z funkcji przypomnienia hasła.</li>
                        <li>Serwis umożliwia usunięcie przez użytkownika danych osobowych opublikowanych na mapie. Aby usunąć zarejestrowany profil, należy skontaktować się z Administratorem.</li>
                        <li>
                            Wszelkie pytania i reklamacje związane z funkcjonowaniem Serwisu możesz zgłosić za pośrednictwem poczty elektronicznej na adres:
                            <a href="mailto: dawid.kamola@maskadlamedyka.pl" title="Napisz mail do dawid.kamola@maskadlamedyka.pl">dawid.kamola@maskadlamedyka.pl</a>.
                        </li>
                        <li>
                            Aby móc w pełni korzystać z możliwości Serwisu, należy dysponować urządzeniem wyposażonym w:
                            <ol>
                                <li>dostęp do Internetu (min. 10 Mb/s)</li>
                                <li>
                                    przeglądarkę internetową (IE w wersji 11 lub wyższej; Microsoft Edge w wersji 45.18 lub wyższej; Mozilla Firefox w wersji 68.0.2 lub wyższej;
                                    Opera w wersji 62.0.3331.18 lub wyższej; Google Chrome w wersji 76.0.3809.100 lub wyższej; macOS Safari w wersji 12.0 lub wyższej;
                                    iOS Safari w wersji 12.0 lub wyższej; Chrome Android w wersji 76.0.3809.111 lub wyższej).
                                </li>
                            </ol>
                        <li>
                            Podstawowym zagrożeniem każdego użytkownika Internetu, w tym osób korzystających z usług świadczonych drogą elektroniczną, jest możliwość zainfekowania systemu teleinformatycznego
                            przez złośliwe oprogramowanie tworzone głównie w celu wyrządzania szkód, takie jak wirusy, robaki, czy konie trojańskie. Aby uniknąć zagrożeń z tym związanych,
                            a w tym pojawiających się w momencie otwierania wiadomości e-mail, zaopatrz swoje urządzenie w programy antywirusowe i pamiętaj o ich bieżącej aktualizacji do najnowszych wersji.
                            Administrator informuje, że korzystanie z usług świadczonych przez Internet wiąże się z możliwą działalnością hakerów, zmierzających do włamania się zarówno do mojego systemu
                            (np. ataki na moją witrynę lub serwer), jak i do Twojego systemu. Pamiętaj więc, że mimo stosowania przez Administratora różnorodnych, nowoczesnych technologii obronnych,
                            nie istnieje w 100% skuteczne zabezpieczenie przed opisanymi wyżej niepożądanymi działaniami.
                        </li>

                    </ol>
                </li>

                <li>
                    Dane osobowe
                    <ol>
                        <li>
                            Wszystkie dane osobowe zbierane i publikowane przez Administratora za pośrednictwem Serwisu, przekazywane są Administratorowi dobrowolnie przez osoby, których te dane dotyczą,
                            na podstawie zgody wyrażonej poprzez zaznaczenie checkboxa przed zarejestrowaniem się w Serwisie (art. 6 ust. 1 lit. a RODO). Przekazanie danych osobowych umożliwiających
                            skontaktowanie się z Tobą w celu odbioru lub przekazania maski lub przejściówki jest warunkiem niezbędnym do prawidłowego korzystania z Serwisu. Pamiętaj, że
                            to Ty ponosisz odpowiedzialność za podanie nieprawidłowych lub niepełnych danych w swoim profilu.
                        </li>
                        <li>
                            Dane osobowe podane w profilu (imię i nazwisko, adres e-mail, numer telefonu, adres zamieszkania) są automatycznie udostępniane do wglądu dla wszystkich innych użytkowników Serwisu,
                            w celu umożliwienia realizacji przeznaczenia Serwisu, czyli skontaktowania się z Tobą.
                        </li>
                        <li>
                            Administrator korzysta z usług następujących podmiotów zewnętrznych zapewniających techniczne rozwiązania Serwisu, które to podmioty mogą mieć dostęp do danych osobowych publikowanych
                            za pośrednictwem Serwisu:
                            <ol>
                                <li>Microsoft jako dostawca aplikacji SQL Server – usługi chmury Azure;</li>
                                <li>One Microsoft Way, Redmond, WA 98052 USA - w celu przechowywania danych osobowych na serwerze;</li>
                            </ol>
                            Wszystkie podmioty, którym Administrator powierza przetwarzanie danych osobowych gwarantują stosowanie odpowiednich środków ochrony i bezpieczeństwa danych osobowych wymaganych
                            przez przepisy prawa.
                        </li>
                        <li>
                            RODO przyznaje Ci następujące uprawnienia związane z przetwarzaniem Twoich danych osobowych:
                            <ol>
                                <li>prawo dostępu do danych osobowych,</li>
                                <li>prawo do sprostowania danych osobowych,</li>
                                <li>prawo do usunięcia danych osobowych,</li>
                                <li>prawo do ograniczenia przetwarzania danych osobowych,</li>
                                <li>prawo do wniesienia sprzeciwu co do przetwarzania danych osobowych,</li>
                                <li>prawo do przenoszenia danych,</li>
                                <li>prawo do wniesienia skargi do organu nadzorczego,</li>
                                <li>prawo do odwołania zgody na przetwarzanie danych osobowych.</li>
                            </ol>
                            Zasady związane z realizacją wskazanych uprawnień zostały opisane szczegółowo w art. 16 – 21 RODO. Administrator zachęca do zapoznania się z tymi przepisami.
                        </li>
                        <li>
                            Jeżeli uznasz, że przy przetwarzaniu Twoich danych osobowych Administrator dopuścił się naruszenia przepisów o ochronie danych osobowych, masz możliwość wniesienia skargi
                            do organu nadzorczego (Prezesa Urzędu Ochrony Danych Osobowych).
                        </li>
                        <li>
                            Zawsze możesz również zwrócić się do Administratora z żądaniem udostępnienia Ci informacji o tym, jakie dane na Twój temat posiada oraz w jakich celach je przetwarza.
                            Wystarczy, że wyślesz wiadomość e-mail.
                        </li>
                        <li>
                            W każdej chwili przysługuje Ci prawo do wniesienia sprzeciwu wobec przetwarzania Twoich danych osobowych, w którym to przypadku Administrator przestanie przetwarzać Twoje dane osobowe,
                            chyba że będzie w stanie wykazać, że w stosunku do Twoich danych osobowych istnieją dla niego ważne prawnie uzasadnione podstawy, które są nadrzędne wobec Twoich interesów, praw i wolności
                            lub Twoje dane będą niezbędne do ewentualnego ustalenia, dochodzenia lub obrony roszczeń.
                        </li>
                        <li>
                            Twoje dane osobowe będą przetwarzane przez okres niezbędny do realizacji celów opisanych we wstępie, najdalej do czasu ostatecznego zakończenia akcji „Maska dla medyka” lub do momentu
                            zgłoszenia przez Ciebie sprzeciwu względem ich przetwarzania.
                        </li>
                        <li>
                            Korzystanie z Serwisu wiąże się z przesyłaniem zapytań do serwera, na którym przechowywany jest Serwis. Każde zapytanie skierowane do serwera zapisywane jest w logach serwera.
                            Logi obejmują m.in. Twój adres IP, datę i czas serwera, informacje o przeglądarce internetowej i systemie operacyjnym z jakiego korzystasz. Logi zapisywane i przechowywane są na serwerze.
                            Dane zapisane w logach serwera nie są kojarzone z konkretnymi osobami korzystającymi z Serwisu i nie są wykorzystywane w celach identyfikacyjnych. Logi serwera stanowią wyłącznie materiał
                            pomocniczy służący do administrowania stroną, a ich zawartość nie jest ujawniana nikomu poza osobami upoważnionymi do administrowania serwerem.
                        </li>
                        <li>
                            Regulamin obowiązuje od dnia 18.04.2020 i jest dostępny w Serwisie. Gdy pojawi się taka potrzeba, Administrator może zmienić treść regulaminu. O każdej takiej zmianie poinformuje
                            wszystkich zarejestrowanych użytkowników, za pośrednictwem wiadomości e-mail. Jeśli nie wyrazisz zgody na zmiany, możesz usunąć swoje konto zgodnie z pkt I.6.
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</main>