@{
    ViewBag.Title = "Regulamin";
}

<main class="rodo">
    <div class="container">
        <div class="col-md-10 col-md-push-1">
            <h1 class="text-center">
                Regulamin akcji print4medic – klauzula informacyjna
            </h1>

            <p>
                Zgodnie z art. 13 ust. 1 i ust. 2 Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (zwane dalej: „RODO”), informujemy, że:
            </p>

            <ol>
                <li>
                    Administrator Danych Osobowych
                    <ol>
                        <li>W związku z Twoim zaangażowaniem w akcję print4medic (zwaną dalej: „Akcją”) Administratorem Twoich danych osobowych (zwanym dalej: „Administratorem”) jest:  Michał Jakubowski</li>
                        <li>Kontakt z Administratorem jest możliwy drogą elektroniczną przez e-mail: michal@twocando.pl</li>
                    </ol>
                </li>

                <li>
                    Cele i podstawa prawna przetwarzania danych osobowych
                    <ol>
                        <li>
                            Administrator przetwarza dane osobowe udostępnione przez uczestników Akcji w aplikacji internetowej print4medic (dalej jako: „aplikacja”) na podstawie art. 6 pkt 1(f) RODO, tj. ponieważ przetwarzanie to jest niezbędne do wskazanych poniżej celów wynikających z prawnie uzasadnionego interesu realizowanego przez Administratora.
                        </li>
                        <li>
                            Celem Administratora i akcji print4medic jest zapewnienie służbie zdrowia dostępu do bezpiecznych rozwiązań w zakresie osobistej ochrony w obliczu pandemii COVID-19 i wobec związanych z pandemią braków w profesjonalnym sprzęcie ochronnym, w tym w filtrach antywirusowych.
                        </li>
                        <li>
                            Powyższy cel Administrator wraz z pozostałymi współorganizatorami akcji realizuje poprzez ułatwienie nawiązywania kontaktów pomiędzy następującymi podmiotami zaangażowanymi w Akcję:
                            <ol>
                                <li>
                                    osobami potrzebującymi masek ochronnych i/lub przejściówek umożliwiających połączenie maski z zewnętrznym filtrem antywirusowym;
                                </li>
                                <li>
                                    osobami posiadającymi maski ochronne różnego typu, gotowymi do przekazania ich dla realizacji ww. celu;
                                </li>
                                <li>
                                    osobami posiadającymi możliwości wydruku przy pomocy drukarek 3D przejściówek wskazanych w pkt i.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>

                <li>
                    Udostępnianie danych osobowych i odbiorcy danych
                    <ol>
                        <li>
                            Twoje dane osobowe udostępnione w aplikacji print4medic są automatycznie upublicznione wszystkim innym użytkownikom aplikacji, tj. osobom zaangażowanym w Akcję wskazanym w punkcie 2c, w celu umożliwienia im skontaktowania się z Tobą, dla realizacji prawnie uzasadnionego interesu wskazanego w punkcie 2b.
                        </li>
                        <li>
                            Podmiotem zewnętrznym zapewniającym rozwiązanie techniczne aplikacji jest Glide – usługa, której dostawcą jest Google Sheets API. Twoje dane osobowe mogą być więc udostępniane temu podmiotowi.
                        </li>
                    </ol>
                </li>

                <li>
                    Prawa związane z przetwarzaniem danych osobowych
                    <ol>
                        <li>
                            W każdej chwili przysługuje ci prawo do wniesienia sprzeciwu wobec przetwarzania Twoich danych osobowych w celach związanych z realizacją prawnie uzasadnionego interesu Administratora, w którym to przypadku Administrator przestanie przetwarzać Twoje dane osobowe w tych celach, chyba że będzie w stanie wykazać, że w stosunku do Twoich danych osobowych istnieją dla niego ważne prawnie uzasadnione podstawy, które są nadrzędne wobec Twoich interesów, praw i wolności lub Twoje dane będą niezbędne do ewentualnego ustalenia, dochodzenia lub obrony roszczeń.
                        </li>
                        <li>
                            Masz prawo dostępu do treści swoich danych osobowych oraz otrzymania ich kopii.
                        </li>
                        <li>
                            Masz prawo do sprostowania swoich danych osobowych, w związku z czym Administrator usuwa ewentualne niezgodności lub błędy dotyczące przetwarzanych Twoich danych osobowych, oraz uzupełnia je lub aktualizuje, jeśli są niekompletne lub uległy zmianie.
                        </li>
                        <li>
                            W przypadkach określonych w art. 17 RODO masz prawo żądać usunięcia swoich danych osobowych („prawo do bycia zapomnianym”), których przetwarzanie nie jest już niezbędne do realizowania żadnego z celów, dla których zostały zebrane.
                        </li>
                        <li>
                            Gdy uznasz, że przetwarzanie Twoich danych osobowych narusza przepisy RODO, masz prawo wniesienia skargi do organu nadzorczego, tj. Prezesa Urzędu Ochrony Danych Osobowych.
                        </li>
                    </ol>
                </li>

                <li>
                    Okres przetwarzania danych osobowych

                    <ol>
                        <li>
                            Twoje dane osobowe będą przetwarzane przez okres niezbędny do realizacji celów Akcji, najdalej do czasu jej ostatecznego zakończenia lub do momentu zgłoszenia przez Ciebie sprzeciwu względem ich przetwarzania.
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</main>