@{
    ViewBag.Title = "Map";
}


    <div class="map">

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-5">
                    <div class="d-flex justify-between align-center wrap mt-2 mb-2">

                        <div class="pr-2">Lista dostępnych:</div>
                        <div action="" class="form-group m-0">
                            <div class="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="search" placeholder="Kod pocztowy">
                                </div>
                                <button type="submit" onclick="onSPCButtonClick()" class="btn form-submit">Szukaj</button>
                            </div>
                            <span class="search__validation" id="search__validation">Popraw kod pocztowy</span>
                        </div>
                    </div>
                    <div class="entry-container mb-2">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list p-1" id="showSuppliers">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 p-0">
                    <div id="mapID"></div>
                </div>
            </div>
        </div>
    </div>

        @*@Scripts.Render("~/Scripts/leaflet-0.7.3.js")*@
