@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <h1 class="text-danger">Błąd</h1>
    <p class="text-danger mt-1">Wystąpił błąd podczas przetwarzania twojego żądania.</p>
    @if (ViewBag.ErrorId != null)
    {
        <p>
            <strong>Kod błędu: @ViewBag.ErrorId</strong>
        </p>
    }
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Wróć do strony głównej</a>
</div>