@using MDMProject.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @ViewResources.Lockout__Title;
}

<hgroup>
    <h1 class="text-danger">@ViewResources.Lockout__AccountLocked</h1>
    <h2 class="text-danger">@ViewResources.Lockout__AccountLockedTryAgainLater</h2>
</hgroup>
